.main-route {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap-reverse;
}
@media (min-width: 992px) {
  .main-route {
    flex-wrap: initial;
  }
}

section {
  min-width: 300px;
  padding: 0.8rem;
  background: #f3f4fd67;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section div {
  background: #ffffff;
}

.route-info {
  display: grid;
  gap: 2rem;
}

.route-info .text-info {
  font-size: 1rem;
  font-weight: 600;
}

.wrapper-map {
  min-width: 500px;
  flex-basis: 100%;
}
@media (min-width: 992px) {
  .wrapper-map {
    min-width: 500px;
  }
}
